h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.hint {
  font-size: 0.75em;
  color: var(--hint-color);
}

.hint-color {
  color: var(--hint-color);
}

.primary {
  color: var(--primary);
}

.danger {
  color: var(--danger);
}

a {
  color: var(--text-color);
}

.long-form-text {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.4;
}