h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

.text-sm {
    font-size: 0.85rem;
}

.hint {
    font-size: 0.75rem;
    color: var(--hint-color);
}

.hint-lg {
    font-size: 0.85rem;
    color: var(--hint-color);
}

.hint-color {
    color: var(--hint-color);
}

.primary {
    color: var(--primary-color);
}

.danger {
    color: var(--danger-color);
}

.text-color {
    color: var(--text-color);
}

.long-form-text {
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.4;
}