<form (submit)="onFormSubmit()" [formGroup]="form" #myForm="ngForm">
    <div class="mb-4">
        <label htmlFor="fullName">Full Name</label>
        <input name="fullName" autofocus type="text" class="input-lg" formControlName="fullName" />
        <span class="hint danger" *ngIf="myForm.submitted && showFullNameError">Full name is required</span>
    </div>

    <div class="mb-4">
        <label htmlFor="email">Email</label>
        <input name="email" type="email" class="input-lg" formControlName="email" />
        <span class="hint danger" *ngIf="myForm.submitted && showEmailError">Email is required</span>
    </div>

    <div class="mb-5">
        <label htmlFor="password">Password</label>
        <input name="password" type="password" class="input-lg" formControlName="password" />
        <span class="hint" [ngClass]="{ 'danger': myForm.submitted && showPasswordError }">8+ characters, 1 number, 1 special character</span>
    </div>

    <div class="alert alert-danger mb-4" *ngIf="hasError">{{errorMessage}}</div>

    <button type="submit" [disabled]="form.disabled" class="btn btn-primary btn-lg btn-block mb-3">
        <span *ngIf="!form.disabled">Sign up</span>
        <span *ngIf="!!form.disabled">Signing up...</span>
    </button>

    <p class="mb-0">Already have an account?
        <a [routerLink]="['/' + PAGE_ROUTES_CONSTANTS.LOGIN]">Log in</a>
    </p>
</form>