.flag {
    color: #fff;
    display: inline-block;
    font-weight: 500;
    border-radius: var(--border-radius);
}

.flag-sm {
    padding: 4px;
    font-size: 0.7rem;
}

.flag-md {
    padding: 6px 8px;
    font-size: 0.8rem;
}

.flag-lg {
    padding: 6px 10px;
    font-size: 1.0rem;
}

.flag-project {
    background-color: var(--project-color);
}