.wrapper {
    background-color: var(--primary-color);
    position: relative;
    min-height: 350px;
}

.header {
    -color: var(--primary-color);
    color: #fff;
}

.screener-wrapper {
    max-width: 700px;
    width: 100%;
    position: absolute;
    bottom: -122px;
}

.spacer {
    height: 122px;
}