<div class="content-width container-fluid py-5">
    <div class="row">
        <div class="col-md-8">
            <app-main-repo-display class="d-block mb-5" [repo]="repos[0]"></app-main-repo-display>

            <p>Popular Projects</p>
            <div class="row">
                <div class="col-sm-4 mb-3" *ngFor="let repo of repos | slice:1:15">
                    <app-repo-card [repo]="repo"></app-repo-card>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3 class="mb-4">Search Repositories</h3>
            <app-screener (repos)="onNewRepos($event)"></app-screener>
        </div>
    </div>
</div>

<!-- <div class="content-width container-fluid p-5">
    <h1>Search for a Project</h1>
    <p>Find projects that interests you.</p>

    <div class="d-flex justify-content-center">
        <app-screener (repos)="onNewRepos($event)"></app-screener>
    </div>
</div>

<div class="spacer"></div>

<div class="content-width container-fluid pt-5">
    <div class="card mb-3" *ngFor="let repo of repos">
        <div class="card-body">
            <img [src]="repo.owner.avatar_url" alt="" style="height: 32px; width: 32px">
            <h3 class="mb-0">{{ repo.name }}</h3>
            <p class="mb-0">{{ repo.description }}</p>
            <p class="mb-0">{{ repo.language }}</p>
            <a [href]="repo.html_url" target="_blank" class="mb-0">{{ repo.html_url }}</a>
        </div>
    </div>
</div> -->