<div class="content-width container-fluid py-5">
    <div class="row">
        <div class="col-md-3 mb-5">
            <h3 class="mb-4">Search Repositories</h3>
            <app-screener (newQuery)="newQuery($event)" (repos)="onNewRepos($event)"></app-screener>
        </div>

        <div class="col-lg-6">
            <div *ngIf="repos">
                <app-main-repo-display class="d-block mb-4" [repo]="repos[0]"></app-main-repo-display>

                <app-query-displayer class="d-block mb-4" [query]="query"></app-query-displayer>

                <p>Popular Projects</p>
                <div class="row">
                    <div class="col-sm-6 mb-3" *ngFor="let repo of repos | slice:1:7">
                        <app-repo-card [repo]="repo"></app-repo-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>